div {
    margin: 20px 0;
}

div#container {
    width: 600px;
    margin: auto;
}

div#chart_display {
    height: 350px;
    border-radius: 5px;
    border: 1px solid black;
}

div#instruction_display {

}

button {
    width: 100px;
    margin: auto;
    display: block;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.y.axis path {
  display: none;
}
